---
import TopNavigation from "../components/TopNavigation.astro";
import MainLayout from "../components//MainLayout.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Babylonica&family=Corinthia:wght@400;700&family=Cutive+Mono&family=Ephesis&family=Open+Sans&family=Rajdhani&family=Sora&family=Tulpen+One&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	<div id="info">
	</div>
	<MainLayout>
		<section id="kampagnevideo" class="overflow_img">
			<h1>Your carrier - <br>our business</h1>
			<div class="instavideo">
			 <video  width="100%" controls>
      <source src="../mov/cainstavideo.webm" type="video/webm" />
       Your browser does not support the video tag.
    </video>
	</div>
	<div class="kampagnevideo">
	 <video  width="100%" controls>
      <source src="../cakampagnevideo.webm" type="video/webm" />
       Your browser does not support the video tag.
    </video>
	</div>
			<img class="cirkel" src="/cirkel.svg" alt="cirkel">
		</section>
		 <a href="#target-section"><div class="arrow bouncing"></div></a>
		<section id="target-section" class="overflow_img">
			<div></div>
			<div>
			<h2>It's a match!</h2>
			<p>Det kan være svært at finde det perfekte match. <br> Er CA et match for dig?</p>
			<img class="kogc_img" src="../billeder_kenneth_caro.webp" alt="billede af skuespiller sammen">
			</div>
		</section>
		<section id="bliv_medlem" class="overflow_img">
			<h2 class="small">Måske</h2>
			<h2>Vi er noget for dig?</h2>
			<p>Læs mere om <a class="ca_link" href="https://www.ca.dk/?gclid=CjwKCAiA6byqBhAWEiwAnGCA4MxiuLU2CEMZGKZJt0VgO8_lOszWYDisDwnnFDiFkPHvchM9X8baeRoCuXQQAvD_BwE" target="_blank">CA</a> og se de forskellige fordele. </p>
			<div class="caro_img" >
			<img src="../billeder_caro.webp" alt="billede af skuespiller">
			</div>
			<img class="cirkel2" src="/cirkel.svg" alt="cirke2">
			<div class="cirkel_tekst">
			<h2 class="tilmeld">tilmeld dig nu</h2>
			<p class="gave_t" >og få en gave</p>
			</div>
		</section>
	</MainLayout>
	

	</body>
	
</html>
<style>
/*********** FONTS ***********/

h1{
	color: #0094D6;
	font-family: Nexa light;
	margin-left: 25px;
}
h2{
font-family: Nexa bold;
color: #D54141;
margin-left: 9px;

}
.small{
	font-size: 15px;
	margin-bottom: -18px;
	margin-top: 50px;
}
p{
font-family: Open Sans, sans-serif;
margin-left: 9px;
color: #054674;
}
.arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 18px solid #0092d696; /* Adjust color as needed */
  cursor: pointer;
  rotate: 180deg;
 margin: 0 auto;
 margin-top: 20px;
}
html {
  scroll-behavior: smooth;
  background-color: #E6E6DF;
}

.bouncing {
  animation-name: bouncing_kf;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-timing-function: ease-in;
}

@keyframes bouncing_kf {
  from {
    translate: 0 -20%;
  }
  to {
    translate: 0 20%;
  }
}

.cirkel{
	width: 70%;
	margin-left: 140px;
	
}
.cirkel2{
	display: grid;
	width: 70%;
	margin-left: 140px;
	margin-top: 50px;
}
.cirkel_tekst{
	margin-top: -200px;
	margin-bottom: 200px;
	margin-left: 250px;
}
.tilmeld{
	color: #054674;
	margin-bottom: -15px;
	margin-top: 55px;
	font-size: 22px;
	margin-left: -70px; 
}
.gave_t{
	margin-left: -60px;
}
.overflow_img{
overflow: hidden;
margin-right: -9px;
margin-left: -9px;
}
.ca_link{
	text-decoration: none;
	cursor: pointer;
	color:#054674
}

/*********** billeder ***********/
img {
  width: 100%;
  height: auto;
  display: block;
}
.caro_img, .kogc_img{
	width: 95%;
}
.kogc_img{
	margin-left: 30px;
}
.caro_img{
	margin-left: -5px;
	position: absolute;
}
/****** Video ******/
.kampagnevideo{
	display: none;
}
@media (min-width: 500px){
	.cirkel{
	width: 43%;
    margin-left: 821px;
    margin-top: -100px;
	
}
.cirkel_img{
overflow: revert;
margin: 0;

}
h1{
	margin-left:85px;
	font-size: 2.5rem;
}
.cirkel2{
	display: none;
}
.cirkel_tekst{
	margin-top: -200px;
	margin-bottom: 200px;
	margin-left: 250px;
}
.tilmeld{
	color: #054674;
	margin-bottom: -15px;
	margin-top: 55px;
	font-size: 22px;
	margin-left: -70px; 
}
.gave_t{
	margin-left: -60px;
}
.caro_img{
	width: 55%;
}
.kogc_img{
	margin-bottom: 50px;
	width: 100%;
	margin-left: 20px;
}
.caro_img{
	margin-left: -5px;
	position: relative;
}
h2{
font-family: Nexa bold;
color: #D54141;
margin-left: 9px;
margin-left: 25px;
font-size: 2rem;

}
.small{
	font-size: 28px;
    margin-bottom: -30px;
    margin-left: 25px;
}
p{
	margin-left: 25px;
}
#target-section{
display: grid;
grid-template-columns: 1fr 1fr;		
}

/***** Video *****/
.instavideo{
	display: none;
	z-index: 1000;
	position: absolute;
}
.kampagnevideo{
	display:unset;
	z-index: 1000;
	position: absolute;
	max-width: 1000px;
    margin: 0 auto;
    margin-left: 88px;
}
}
</style>