---
import TopNavigation from "../components/TopNavigation.astro";
import BottomNavigation from "../components/BottomNavigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Babylonica&family=Corinthia:wght@400;700&family=Cutive+Mono&family=Ephesis&family=Open+Sans&family=Rajdhani&family=Sora&family=Tulpen+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>CA</title>
  </head>
  <body>
    <TopNavigation />
    <main>
      <slot />
    </main>
    <BottomNavigation />
  </body>
</html>

<style>
  @font-face {
    font-family: 'NexaBold';
    src:url('NexaBold.ttf.woff') format('woff'),
        url('NexaBold.ttf.svg#NexaBold') format('svg'),
        url('NexaBold.ttf.eot'),
        url('NexaBold.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}
  main{
    max-width: 1600px;
  margin: 0 auto;
  }
</style>